<launch>

  <remap from="/robot0/laser_0" to="/laser/scan"/>

  <!-- Launch the STDR simulator -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch" />

  <!-- Launch Rviz -->
  <include file="$(find stdr_launchers)/launch/rviz.launch" />

  <!-- <include file="$(stdr_simulator)/move_base/2dnav_pr2.launch" /> -->

<!--  <node pkg="obstacle_avoidance" type="stdr_obstacle_avoidance" name="stdr_obstacle_avoidance" args="mobile_base scan"/>
-->

  <node pkg="obstacle_avoidance" type="stdr_obstacle_avoidance" name="stdr_obstacle_avoidance" args="robot0 laser_0"/>

  <node pkg="obstacle_avoidance" type="bounding_box" name="bounding_box"/>

  <node pkg="obstacle_avoidance" type="robot_pose_listener" name="robot_pose_listener"/>

</launch>
